<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <th:block th:insert="layout/head :: headFragment" />
  <title>Are you travelers?</title>

</head>
<body>
    <!--header-->
    <header th:replace="layout/header :: headerFragment"></header>
    <!--content-->
    <div layout:fragment="content"></div>
    <!--footer-->
    <footer th:replace="layout/footer :: footerFragment"></footer>
</body>
</html>