<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <th:block th:replace="~{layout/head :: headFragment}" />
  <body>
    <div id="content-wrapper" class="d-flex flex-column">
      <!--header-->
      <th:block th:replace="~{layout/header :: headerFragment}"></th:block>
      <!--content-->
      <th:block layout:fragment="content"></th:block>
      <!--footer-->
      <th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
    </div>
    <th:block th:replace="~{layout/script :: scriptFragment}"></th:block>
  </body>
</html>