<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- headFragment 선언 (공용 js, css) -->
<th:block th:fragment="headFragment">
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content=“ie=edge”>

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet" type="text/css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" th:href="@{/static/css/styles.css}"/>
        <link rel="stylesheet" th:href="@{/static/css/styles2.css}"/>
    </head>
</th:block>
</html>