body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

/* 게시물 정보 섹션 스타일 */
section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

/* 링크 스타일 */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* footer 스타일 */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}