/* common */
body {overflow-x: hidden;}
.href-none {color: inherit; text-decoration: none;}
.href-none:hover {color: inherit;}
.temp-3 {color: #3BD0FA;}
.container-wrap {display: flex;}
.container-content {padding-top: 10rem;}
.sub-menu-icon {width: 40px; margin-right: 7px; margin-bottom: 2em; vertical-align: top;}

/* #subNav */
#subNav > .container > ul > li {margin-bottom: 2em; font-weight: 500; font-size: 0.9rem; color: #999999;}
#subNav > .container > ul > li > ul {margin-top: 8px;}
#subNav > .container > ul > li > ul > li > a {font-size: 1rem;}

/* header */
.navbar-expand-lg .navbar-collapse a {font-weight: 700; font-size: 1.2rem;}
.main-menu-icon {width: 40px; vertical-align: top; margin-right: 7px; margin-top: 3px; margin-bottom:2em;}
.main-menu {display: inline-block; font-size: 1.2rem;}
.main-banner {position: relative; width: 100%; padding-top: 7rem;}

/* footer */
footer {margin-top: 7rem; padding-top: 4rem; padding-bottom: 3rem; background-color: #2c3e50; color: #ffffff;}
footer img {margin-bottom: 3rem;}
footer p {font-weight: 300; font-size: 14px;}

/* login */
.login {background: linear-gradient(180deg, #c5f2ff 0%, rgba(180, 238, 255, 0) 100%);}
.login .page-section {padding-top: 15rem; padding-bottom: 0;}
.login .login-inner {max-width: 40%; margin: 0 auto; padding: 5em 3em; border-radius: 12px; background-color: #ffffff; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.login .login-inner img {display: block; margin: 0 auto 1em;}
.login .login-inner h1 {font-size: 1.5rem; text-align: center;}
.login .login-inner form {margin-top: 2em; margin-bottom: 2em;}
.login .login-inner form .password {margin-top: -8px;}
.login .login-inner form input {max-width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}
.login .login-inner form button {display: block; width: 70%; margin: 1em auto; padding: 0.6em 1em; border-radius: 5px;}
.login .login-inner a {display: block; color: #5D9EE2; text-align: center;}

/* sign-up */
.signup {background: linear-gradient(180deg, #c5f2ff 0%, rgba(180, 238, 255, 0) 100%);}
.signup .page-section {padding-top: 15rem; padding-bottom: 0;}
.signup .signup-inner {max-width: 35%; margin: 0 auto; padding: 5em 3em; border-radius: 12px; background-color: #ffffff; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.signup .signup-inner img {display: block; margin: 0 auto 1em;}
.signup .signup-inner h1 {font-size: 1.5rem; text-align: center;}
.signup .signup-inner form {margin-top: 2em; margin-bottom: 2em;}
.signup .signup-inner form .password {margin-top: -8px;}
.signup .signup-inner form input {max-width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}
.signup .signup-inner form button {display: block; width: 70%; margin: 1em auto; padding: 0.6em 1em; border-radius: 5px;}
.signup .signup-inner a {display: block; color: #5D9EE2; text-align: center;}
.signup .signup-inner .form-control {width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}

/* main */
.board-item {min-height: 469px; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.board-item-header {display: flex; justify-content: space-between; padding: 1.2em 1.2em 0 1.2em; font-size: 13px;}
.board-item-header .min-num {margin-right: -2px;}
.board-item-header .max-num {margin-left: -2px;}
.board-item-bg {position: relative;}
.board-item-bg .board-item-icon {position: absolute; right: 15px; bottom: 0; padding: 1px 9px 3px 6px; background-color: #3bd0fa; border-radius: 9px; color: #ffffff; font-size: 14px;}
.board-item-bg .board-item-icon img {width: 18px;}
.board-item-bg .board-item-img {overflow: hidden; height: 170px; border-radius: 17px;}
.board-item-bg .board-item-img img {width: 100%;}
.board-item-info {padding-bottom: 2rem; text-align: center;}
.board-item-info .item-title {margin-bottom: 6px; font-weight: 700;}
.board-item-info .user-name {margin-bottom: 0; font-size: 13px;}
.board-item-info .user-profile {margin-bottom: 0; font-size: 13px;}
.board-item-info .user-temp {margin-bottom: 14px; font-size: 13px;}
.board-item-info .item-contents {min-height: 97px; margin: 0 25px; padding: 1.2rem; border-radius: 19px; font-size: 13px; box-shadow: 0px 0px 11px 3px #5c5c5c21; color: #606060;}
.board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* accompany */
.accompany .page-section {padding-top: 10rem;}
.accompany form {margin-top: 1rem; margin-bottom: 2rem;}
.accompany form button {padding-left: 1.2em; padding-right: 1.2em;}

/* my page */
.my-page .sub-menu-icon {width: 45px; margin-top: -2px;}
.my-page .page-section {padding-bottom: 0;}
.my-page .page-section > .container > .div {margin-top: 1em;}
.my-page .profile {max-height: 457px; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.my-page .profile .profile-image {overflow: hidden; position: relative;}
.my-page .profile .profile-image .profile-image-inner {border-radius: 50%; border: 1px solid #ddd; width: 50%; height: 50%; margin: 3.7em auto 0;}
.my-page .profile .profile-image .profile-image-inner .profile-image-circle img {width: 100%;}
.my-page .profile .profile-image button {position: absolute; bottom: 0; right: 50px; transform: translate(-50%, -50%); width: 37px; height: 37px; border: 0; border-radius: 50%;}
.my-page .profile .profile-image button img {width: 100%; padding: 2px; margin-top: -6px; margin-left: 1px;}
.my-page .profile .profile-name {margin-top: 1em; margin-bottom: 2.5em; text-align: center;}
.my-page .profile .profile-name .profile-username {margin-bottom: 0; font-weight: 700; font-size: 1.5rem;}
.my-page .profile .profile-name .profile-fullname {font-size: 0.9em; color: #999;}
.my-page .profile .profile-info .info-box {display: flex;}
.my-page .profile .profile-info .info-box .info-box-inner {width: 33.3333%;}
.my-page .profile .profile-info .info-box .info-box-inner:nth-child(2) {border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
.my-page .profile .profile-info .info-box .info-box-inner .info-title {display: block; margin-top: 2px; margin-bottom: 7px; text-align: center; font-size: 0.9em; color: #5D9EE2;}
.my-page .profile .profile-info .info-box .info-box-inner .info-content {text-align: center;}
.my-page .profile .profile-info .info-box .info-box-inner .info-content .info-temp {color: #4CB7EF}
.my-page .profile2 {padding-left: 4em;}
.my-page .profile2 h3 {margin-bottom: 2em; font-weight: 700; font-size: 1.3rem; color: #4CB7EF;}
.my-page .profile2 .profile2-box {display: flex;}
.my-page .profile2 .profile2-box .profile2-title {display: flex; font-size: 1.1rem;}
.my-page .profile2 .profile2-box .profile2-title button {width: 30px; border: none; background-color: inherit;}
.my-page .profile2 .profile2-box .profile2-title button img {width: 100%; margin-top: -19px; margin-left: 3px;}
.my-page .profile2 .profile2-box input {width: 80%; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.my-page .profile2 .profile2-box input.profile2-email {width: 90%;}

/* receiver */
.receiver .sub-menu-icon {width: 43px;}
.receiver .board-item {min-height: 400px; padding: 2em 0;}
.receiver .board-item .board-item-profile .board-item-img {overflow: hidden; width: 47%; margin: 0 auto 1em; border: 1px solid #dddddd; border-radius: 50%;}
.receiver .board-item .board-item-profile .board-item-img img {width: 100%;}
.receiver .board-item .board-item-profile .board-item-info {padding-bottom: 0;}
.receiver .board-item .board-item-profile .board-item-info .item-contents {margin-top: 2em;}
.receiver .board-item .board-item-profile .board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* sender */
.sender .sub-menu-icon {width: 43px;}
.sender .board-item {min-height: 420px;}
.sender .board-item .board-item-info {padding-bottom: 0;}
.sender .board-item .board-item-info .item-contents {margin-top: 2em;}
.sender .board-item .board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* review-possible */
.review-possible .sub-menu-icon {width: 48px; margin-top: -5px;}
.review-possible .board-item .board-item-info {padding-bottom: 0;}
.review-possible .board-item .board-item-info .item-contents {margin-top: 2em;}
.review-possible .board-item .board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.review-possible .board-item .board-item-review {margin-top: 1.5em; text-align: center;}
.review-possible .board-item .board-item-review button {width: 45%; padding: 0.5em; border: none; border-radius: 9px; font-size: 0.9rem; color: #ffffff;}
.review-possible .board-item .board-item-review button.possible {background-color: #3BD0FA;}
.review-possible .board-item .board-item-review button.impossible {background-color: #B0B0B0; pointer-events: none; cursor: default;}
.review-possible .board-item .board-item-review button.impossible a {pointer-events: none; cursor: default;}