/* common */
body {overflow-x: hidden;}
.href-none {color: inherit; text-decoration: none;}
.href-none:hover {color: inherit;}
.temp-3 {color: #3BD0FA;}
.temp-4 {color: #FF5733;}
.temp-5 {color: blueviolet;}
.status-true {color: #3BD0FA; font-weight: bold;}
.status-false {color: #FF5733; font-weight: bold;}
.status-null {color: #999999; font-weight: bold;}
.container2 {max-width: 720px;}
.container-wrap {display: flex;}
.container-content {padding-top: 10rem;}
.sub-menu-icon {width: 40px; margin-right: 7px; margin-bottom: 2em; vertical-align: top;}
.sub-title-icon {width: 50px; margin: 0 auto 7px;}
.sub-title-icon img {width: 100%;}
textarea {width: 100%; padding: 1em 2em; border: none; border-radius: 12px; background-color: #ffffff; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
textarea:focus-visible {
    border: 2px solid #5bc7ffc2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #66caff4a;
}

/* #subNav */
#subNav > .container > ul > li {margin-bottom: 2em; font-weight: 500; font-size: 0.9rem; color: #999999;}
#subNav > .container > ul > li > ul {margin-top: 8px;}
#subNav > .container > ul > li > ul > li > a {font-size: 1rem;}

/* header */
.navbar-expand-lg .navbar-collapse a {font-weight: 700; font-size: 1.2rem;}
.main-menu-icon {width: 40px; vertical-align: top; margin-right: 7px; margin-top: 3px; margin-bottom:2em;}
.main-menu {display: inline-block; font-size: 1.2rem;}
.main-banner {position: relative; width: 100%; padding-top: 7rem;}

/* footer */
footer {margin-top: 7rem; padding-top: 3.2rem!important; padding-bottom: 2rem!important; background-color: #2c3e50; color: #ffffff;}
footer img {margin-bottom: 3rem;}
footer p {font-weight: 300; font-size: 14px;}

/* login */
.login {background: linear-gradient(180deg, #c5f2ff 0%, rgba(180, 238, 255, 0) 100%);}
.login .page-section {padding-top: 15rem; padding-bottom: 0;}
.login .login-inner {max-width: 40%; margin: 0 auto; padding: 5em 3em; border-radius: 12px; background-color: #ffffff; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.login .login-inner img {display: block; margin: 0 auto 1em;}
.login .login-inner h1 {font-size: 1.5rem; text-align: center;}
.login .login-inner form {margin-top: 2em; margin-bottom: 2em;}
.login .login-inner form .password {margin-top: -8px;}
.login .login-inner form input {max-width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}
.login .login-inner form button {display: block; width: 70%; margin: 1em auto; padding: 0.6em 1em; border-radius: 5px;}
.login .login-inner a {display: block; color: #5D9EE2; text-align: center;}

/* sign-up */
.signup {background: linear-gradient(180deg, #c5f2ff 0%, rgba(180, 238, 255, 0) 100%);}
.signup .page-section {padding-top: 15rem; padding-bottom: 0;}
.signup .signup-inner {max-width: 35%; margin: 0 auto; padding: 5em 3em; border-radius: 12px; background-color: #ffffff; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.signup .signup-inner img {display: block; margin: 0 auto 1em;}
.signup .signup-inner h1 {font-size: 1.5rem; text-align: center;}
.signup .signup-inner form {margin-top: 2em; margin-bottom: 2em;}
.signup .signup-inner form .password {margin-top: -8px;}
.signup .signup-inner form input {max-width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}
.signup .signup-inner form button {display: block; width: 70%; margin: 1em auto; padding: 0.6em 1em; border-radius: 5px;}
.signup .signup-inner a {display: block; color: #5D9EE2; text-align: center;}
.signup .signup-inner .form-control {width: 70%; margin: 0 auto; padding: 1em; border: 1px solid #dddddd; border-radius: 5px; font-size: 0.9em;}

/* main */
.board-item {min-height: 469px; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.board-item-header {display: flex; justify-content: space-between; padding: 1.2em 1.2em 0 1.2em; font-size: 13px;}
.board-item-header .min-num {margin-right: -2px;}
.board-item-header .max-num {margin-left: -2px;}
.board-item-bg {position: relative;}
.board-item-bg .board-item-icon {position: absolute; right: 15px; bottom: 0; padding: 1px 9px 3px 6px; background-color: #3bd0fa; border-radius: 9px; color: #ffffff; font-size: 14px;}
.board-item-bg .board-item-icon img {width: 18px;}
.board-item-bg .board-item-img {overflow: hidden; height: 170px; border-radius: 17px;}
.board-item-bg .board-item-img img {width: 100%;}
.board-item-info {padding-bottom: 2rem; text-align: center;}
.board-item-info .item-title {margin-bottom: 6px; font-weight: 700;
    padding: 0 2em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-item-info .user-name {margin-bottom: 0; font-size: 13px;}
.board-item-info .user-profile {margin-bottom: 0; font-size: 13px;}
.board-item-info .user-temp {margin-bottom: 14px; font-size: 13px;}
.board-item-info .item-contents {min-height: 97px; margin: 0 25px; padding: 1.2rem; border-radius: 19px; font-size: 13px; box-shadow: 0px 0px 11px 3px #5c5c5c21; color: #606060;}
.board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* accompany */
.accompany .page-section {padding-top: 10rem;}
.accompany form {margin-top: 1rem; margin-bottom: 2rem;}
.accompany form button {padding-left: 1.2em; padding-right: 1.2em;}

/* my page */
.my-page .sub-menu-icon {width: 45px; margin-top: -2px;}
.my-page .page-section {padding-bottom: 0;}
.my-page .page-section > .container > .div {margin-top: 1em;}
.my-page .profile {max-height: 457px; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.my-page .profile .profile-image {overflow: hidden; position: relative;}
.my-page .profile .profile-image .profile-image-inner {border-radius: 50%; border: 1px solid #ddd; width: 50%; height: 50%; margin: 3.7em auto 0;}
.my-page .profile .profile-image .profile-image-inner .profile-image-circle img {width: 100%;}
.my-page .profile .profile-image button {position: absolute; bottom: 0; right: 50px; transform: translate(-50%, -50%); width: 37px; height: 37px; border: 0; border-radius: 50%;}
.my-page .profile .profile-image button img {width: 100%; padding: 2px; margin-top: -6px; margin-left: 1px;}
.my-page .profile .profile-name {margin-top: 1em; margin-bottom: 2.5em; text-align: center;}
.my-page .profile .profile-name .profile-username {margin-bottom: 0; font-weight: 700; font-size: 1.5rem;}
.my-page .profile .profile-name .profile-fullname {font-size: 0.9em; color: #999;}
.my-page .profile .profile-info .info-box {display: flex;}
.my-page .profile .profile-info .info-box .info-box-inner {width: 33.3333%;}
.my-page .profile .profile-info .info-box .info-box-inner:nth-child(2) {border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
.my-page .profile .profile-info .info-box .info-box-inner .info-title {display: block; margin-top: 2px; margin-bottom: 7px; text-align: center; font-size: 0.9em; color: #5D9EE2;}
.my-page .profile .profile-info .info-box .info-box-inner .info-content {text-align: center;}
.my-page .profile .profile-info .info-box .info-box-inner .info-content .info-temp {color: #4CB7EF}
.my-page .profile2 {padding-left: 4em;}
.my-page .profile2 h3 {margin-bottom: 2em; font-weight: 700; font-size: 1.3rem; color: #4CB7EF;}
.my-page .profile2 .profile2-box {display: flex;}
.my-page .profile2 .profile2-box .profile2-title {display: flex; font-size: 1.1rem;}
.my-page .profile2 .profile2-box .profile2-title button {width: 30px; border: none; background-color: inherit;}
.my-page .profile2 .profile2-box .profile2-title button img {width: 100%; margin-top: -19px; margin-left: 3px;}
.my-page .profile2 .profile2-box input {width: 80%; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.my-page .profile2 .profile2-box input.profile2-email {width: 90%;}

/* account */
.account .sub-menu-icon {width: 45px; margin-top: -2px;}
.account .page-section {padding-bottom: 0;}
.account .page-section > .container > .div {margin-top: 1em;}
.account .profile2 {width: 70%;}
.account .profile2 h3 {margin-bottom: 2em; font-weight: 700; font-size: 1.3rem; color: #4CB7EF;}
.account .profile2 .profile2-box .profile2-title {display: flex; font-size: 1.1rem; margin-bottom: 1rem;}
.account .profile2 .profile2-box .profile2-title button {width: 30px; border: none; background-color: inherit;}
.account .profile2 .profile2-box .profile2-title button img {width: 100%; margin-top: -19px; margin-left: 3px;}
.account .profile2 .profile2-box .form-group {width: 40%; margin-bottom: 2em;}
.account .profile2 .profile2-box .form-group:nth-child(2) {display: inline-block; margin-right: 10%; margin-bottom: 1em;}
.account .profile2 .profile2-box .form-group:nth-child(3) {display: inline-block; margin-bottom: 1em;}
.account .profile2 .profile2-box input {width: 100%; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.account .profile2 .profile2-box input.profile2-email {width: 90%;}
.account .profile2 .profile2-box button {display: block;}
.account .profile2 h4 {margin-top: 2em; color: #dc3545;}

/* board */
.board-write .container2 {max-width: 800px;}
.board-write .container-wrap {justify-content: center;}
.board-write .sub-title-icon {margin-top: 13em;}
.board-write h2 {margin-bottom: 2.5em; font-size: 1.6rem; text-align: center;}
.board-write .board-inner {padding: 2em; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
.board-write .board-message .form-info {display: flex; justify-content: space-between; align-items: flex-start;}
.board-write .edit button {width: 30px; border: none; background: none; }
.board-write .edit button img {width: 100%;}

/* 마이페이지 - 받은 동행, 보낸 동행 */
#accompany-.board-item {min-height: 400px;}
#accompany-container .board-item .board-item-info .user-name {margin-bottom: 0; font-size: 13px;}
#accompany-container .board-item .board-item-info .user-profile {margin-bottom: 0; font-size: 13px;}
#accompany-container .board-item .board-item-info .user-temp {margin-bottom: 14px; font-size: 13px;}
#accompany-container .board-item .board-item-info .item-contents {min-height: 97px; margin: 0 25px; padding: 1.2rem; border-radius: 19px; font-size: 13px; box-shadow: 0px 0px 11px 3px #5c5c5c21; color: #606060;}
#accompany-container .board-item .board-item-info .item-contents p {overflow: hidden; margin-bottom: 0; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;}

/* 마이페이지 - 보낸 동행 상세페이지 */
.sender-read .sub-title-icon {margin-top: 13em;}
.sender-read h2 {margin-bottom: 2.5em; font-size: 1.6rem; text-align: center;}
.sender-read .board-title {font-weight: 500; margin-bottom: 15px; font-size: 1.1rem; color: #333;}
.sender-read .title-container {display: flex; justify-content: space-between; position: relative;}
.sender-read .title-container button {position: absolute; right: 0; bottom: 20%; padding: 0.3em 0.7em; border-radius: 20px;}
.sender-read .original-board {margin-bottom: 4em; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.sender-read .original-board a {display: flex; align-items: center;}
.sender-read .original-board a .original-left {width: 66px; height: 66px; overflow: hidden; border-radius: 50%; border: 1px solid #fff; margin-right: 1em;}
.sender-read .original-board a .original-left img {width: 100%;}
.sender-read .original-board a .original-right .original-right-bottom {display: flex; margin-top: 10px; font-size: 0.9rem;}
.sender-read .original-board a .original-right .original-right-bottom p {margin-bottom: 0; margin-right: 5px; color: #999;}
.sender-read .board-message .form-info {display: flex; justify-content: space-between; align-items: flex-start;}
.sender-read .board-message .form-info button {width: 30px; border: none; background: none;}
.sender-read .board-message .form-info button img {width: 100%;}
.sender-read .current-time {text-align: right; color: #919191; font-size: 14px; margin-top: 11px;}
.sender-read #list-button {padding: 0;}
.sender-read #list-button a {display: block; padding: 0.375rem 0.75rem;}

/* 마이페이지 - 받은 동행 상세페이지 */
.receiver-read .sub-title-icon {margin-top: 13em;}
.receiver-read h2 {margin-bottom: 2.5em; font-size: 1.6rem; text-align: center;}
.receiver-read .board-title {font-weight: 500; margin-bottom: 15px; font-size: 1.1rem; color: #333;}
.receiver-read #board-link {padding: 4px 11px; border-radius: 9px; color: #333; font-size: 15px; box-shadow: 0px 0px 9px 1px #e2e2e2; transition: all 0.3s;}
.receiver-read #board-link:hover {box-shadow: 0px 0px 9px 1px #4cb7ef57;}
.receiver-read #country-image {display: flex; justify-content: center; position: relative; height: 500px; margin-top: 1em; padding-top: 7em; background-size: cover; background-position: center; background-repeat: no-repeat;}
.receiver-read #country-image::before {position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: "";  background-color: rgba(255, 255, 255, 0.75); pointer-events: none; z-index: 1;}
.receiver-read .profile-info-container {width: 20%; margin-right: 3%; height: 250px; position: relative; z-index: 9;}
.receiver-read .profile-info-container .profile-info {min-height: 224px; padding-top: 33px; background-color: #ffffff; border-radius: 12px; text-align: center; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.receiver-read .profile-info-container .profile-info .profile-image {overflow: hidden; width: 85px; height: 85px; margin: 0 auto 10px; border-radius: 50px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.receiver-read .profile-info-container .profile-info .profile-image img {width: 100%;}
.receiver-read .profile-info-container .profile-info #profile-username,
.receiver-read .profile-info-container .profile-info .user-profile,
.receiver-read .profile-info-container .profile-info #profile-temp {margin-bottom: 0; font-size: 15px;}
.receiver-read .board-message {width: 60%; position: relative; z-index: 9;}
.receiver-read .board-message .form-info {display: flex; justify-content: space-between;}
.receiver-read .board-message .form-info .response-button {position: relative; width: 50%;}
.receiver-read .board-message .form-info .response-button button {position: absolute; bottom: 30%; padding: 0.4em 0.8em; border-radius: 20px;}
.receiver-read .board-message .form-info .response-button button#accept-button {right: 15%;}
.receiver-read .board-message .form-info .response-button button#reject-button {right: 0%;}
.receiver-read #list-button {padding: 0;}
.receiver-read #list-button a {display: block; padding: 0.375rem 0.75rem;}
.receiver-read .created-at {text-align: right; color: #333333; font-size: 14px; margin-top: 6px;}

/* review-possible */
.review-possible .sub-menu-icon {width: 48px; margin-top: -5px;}
.review-possible .board-item .board-item-info {padding-bottom: 0;}
.review-possible .board-item .board-item-info .item-contents {margin-top: 2em;}
.review-possible .board-item .board-item-info .item-contents p {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.review-possible .board-item .board-item-review {margin-top: 1.5em; text-align: center;}
.review-possible .board-item .board-item-review button {width: 45%; padding: 0.5em; border: none; border-radius: 9px; font-size: 0.9rem; color: #ffffff;}
.review-possible .board-item .board-item-review button.possible {background-color: #3BD0FA;}
.review-possible .board-item .board-item-review button.impossible {background-color: #B0B0B0; pointer-events: none; cursor: default;}
.review-possible .board-item .board-item-review button.impossible a {pointer-events: none; cursor: default;}

/* read-reviews-all */
.read-reviews-all .receiver-profile-img {overflow: hidden; display: inline-block; width: 80px; margin-right: 1em; margin-top: -8px; border: 1px solid #fff; border-radius: 50%; vertical-align: middle;}
.read-reviews-all h2 {font-size: 1.8rem;}
.read-reviews-all .receiver-profile-img img {width: 100%;}
.read-reviews-all .receiver-profile-text {display: inline-block; font-size: 1.1rem;}
.read-reviews-all h3 {padding-top: 2em; margin-bottom: 7px!important;}
.read-reviews-all .board-temperature {font-weight: 700; font-size: 1.8rem;}
.read-reviews-all .board-title {font-weight: 500; margin-bottom: 15px; font-size: 1.1rem; color: #333;}
.read-reviews-all .read-reviews-all-wrap {margin-top: 2em;}
.read-reviews-all .read-reviews-all-wrap .review-list {display: inline-block; width: 30%; min-height: 225px; margin-right: 3%; margin-bottom: 4em; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54; vertical-align: top;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top {display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px; border-bottom: 1px solid #dddddd;}
.read-reviews-all .read-reviews-all-wrap .review-list {margin-bottom: 4em; padding: 1em 1em 1.5em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top .review-top-left {display: flex; align-items: center; margin-bottom: 0;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top .review-top-left .review-requests-profile {width: 40px; margin-right: 3px; border-radius: 50%; border: 1px solid #fff;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top .review-top-left .review-requests-profile img {width: 100%;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top .review-top-left .review-list-text {font-size: 0.75em;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-top .review-top-right {margin-bottom: 0;}
.review-middle {display: flex; min-height: 50px; max-height: 50px; align-items: center; justify-content: space-between; margin: 1em 0; color: #999999; font-size: 14px;}
.review-middle .middle-left {width: 30%;}
.review-middle .middle-left > img {width: 100%; border-radius: 10px;}
.review-middle .middle-right {width: 65%;}
.review-middle .middle-right > p {margin-bottom: 0;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-bottom {min-height: 114px; margin-top: 20px; padding: 1em 2em; border: none; border-radius: 12px; box-shadow: 0px 3px 12px 2px #7a7a7a54;}
.read-reviews-all .read-reviews-all-wrap .review-list a .review-bottom span {
    font-size: 0.85rem;
    color: #333;
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/* 저장 버튼 스타일 */
#save-mbti-button, #save-email-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 12px; /* 더 둥글게 만듦 */
    font-size: 12px;
    margin-right: 2px;
    /* 마우스 호버 시 스타일 변경 */
    transition: all 0.3s ease; /* 모든 속성에 전환 효과 적용 */
}

#save-mbti-button:hover , #save-email-button:hover {
    background-color: #0056b3; /* 호버 시 밝은 하늘색으로 변경 */
    transform: translateY(-2px); /* 위로 약간 이동하는 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 취소 버튼 스타일 */
#cancel-mbti-button, #cancel-email-button {
    /* 이전 스타일 유지 */
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 12px; /* 더 둥글게 만듦 */
    font-size: 12px;
    /* 마우스 호버 시 스타일 변경 */
    transition: all 0.3s ease; /* 모든 속성에 전환 효과 적용 */
}

#cancel-mbti-button:hover, #cancel-email-button:hover {
    background-color: #c82333; /* 호버 시 진한 빨간색으로 변경 */
    transform: translateY(-2px); /* 위로 약간 이동하는 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}


.btn-primary {
    background-color: #007acc;
    border: none;
    padding: 0.6em 1em;
    font-size: 0.9rem;
    /* 마우스 호버 시 스타일 변경 */
    transition: all 0.3s ease; /* 모든 속성에 전환 효과 적용 */
}

.btn-primary:hover {
    background-color: #0056b3; /* 호버 시 밝은 하늘색으로 변경 */
    transform: translateY(-2px); /* 위로 약간 이동하는 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 회원 탈퇴 버튼 스타일 */
.btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 0.6em 1em;
    font-size: 0.9rem;
    /* 마우스 호버 시 스타일 변경 */
    transition: all 0.3s ease; /* 모든 속성에 전환 효과 적용 */
}

.btn-danger:hover {
    background-color: #c82333; /* 호버 시 진한 빨간색으로 변경 */
    transform: translateY(-2px); /* 위로 약간 이동하는 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
