<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>보낸 동행</title>
    <script src="/static/js/accompany-sent.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container-wrap justify-content-between">
        <nav id="subNav" class="col-md-2 col-lg-2">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item mx-0 mx-lg-1">마이페이지
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/mypage">프로필</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/account">계정 설정</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">나의 동행
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="#">내가 쓴 글</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/receiver-requests">받은 동행</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link active py-2 px-0 px-lg-3" href="/sender-requests">보낸 동행</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/boards/reviews-possible">후기 작성</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">나의 후기
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/boards/reviews/receiver">받은 후기</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/boards/reviews/sender">보낸 후기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="container-content page-section portfolio col-md-9 col-lg-9" id="portfolio">
            <!-- Menu -->
            <img class="sub-menu-icon" src="/static/images/icon/icon-sender.png" alt="보낸 동행">
            <h2 class="page-section-heading text-secondary mb-0 main-menu">보낸 동행</h2>
            <!-- Grid Items -->
            <div class="row justify-content-start">
                <div class="col-md-4 col-lg-4 col-lg-4-2 mb-5" id="accompany-container">
                    <div class="board-item mx-auto">
                        <a class="href-none">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date"></p>
                                </div>
                                <div class="header-right">
                                    <p id="status" class="status"></p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon">
                                    <img src="/static/images/icon/icon-location.png" alt="지도아이콘">
                                    <span id="country"></span>
                                </p>
                                <p class="board-item-img"></p>
                            </div>
                            <div class="board-item-info">
                                <p class = "item-title"></p>
                                <div class="item-contents">
                                    <p id="message" class="message"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>