<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title text="동행 구하기"></title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--    mixed content 해결 -->
    <style>
        .form-container {
            display: flex;
        }
    </style>
    <script src="/static/js/board.js"></script>
</head>
<body style="padding-top: 130px;">
<th:block layout:fragment="content">
    <div class="container board-detail">
        <h1 class="mt-4">동행 구하기</h1>
        <div class="card mb-4">
            <div class="card-body">
                <form th:action="@{'/boards/write'}" th:method="post" id="postForm">
<!--                    <input type="hidden" name="_method" value="post"/>-->
                    <div class="mb-3">
                        <label for="country" class="form-label">나라</label>
                        <select class="form-select" id="country" name="country" required>
                            <option value="">나라를 선택하세요</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.name}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="category" required>
                            <option value="">카테고리를 선택하세요</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.category}">
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" name="content" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="people" class="form-label">총 인원수</label>
                        <input type="text" class="form-control" id="people" name="people" required>
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">시작일</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">상태</label>
                        <input type="text" class="form-control" id="status" name="status" value="모집중" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="createdAt" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="createdAt" name="createdAt" disabled>
                    </div>
                </form>
                <div class="form-container">
                    <a href="/accompany" class="btn btn-outline-secondary" style="margin-right: 6px;">목록</a>
                    <button class="btn btn-primary" id="postButton" style="margin-right: 6px;">글쓰기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>