<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>동행 구하기</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--    mixed content 해결 -->
    <script src="/static/js/boardWrite.js"></script>
</head>
<body class="board-write">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-travel.png" alt="동행 구하기">
        </p>
        <h2>동행 구하기</h2>
        <form th:action="@{'/boards/write'}" th:method="post" id="postForm">
            <div class="board-inner mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-4 col-lg-4 me-3">
                        <label for="country" class="form-label">여행지</label>
                        <select class="form-select" id="country" name="country" required>
                            <option value="">여행지</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.name}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="category" required>
                            <option value="">카테고리</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.category}"
                                    th:selected="${category.category} == 여행" disabled>
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-2">
                        <label for="people" class="form-label">총 인원수</label>
                        <input type="text" class="form-control" id="people" name="people" required>
                    </div>
                </div>
                <div class="container-wrap mb-3">
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="startDate" class="form-label">시작일</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" required>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="status" class="form-label">상태</label>
                        <input type="text" class="form-control" id="status" name="status" value="모집중" disabled>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label for="createdAt" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="createdAt" name="createdAt" disabled>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-10 col-lg-10">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" required placeholder="예시) 겨울 파리 여행 동행 구합니다!" style="padding: 1em; border: none; box-shadow: 0px 3px 12px 2px #7a7a7a54;">
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" name="content" rows="8" placeholder="예시) 안녕하세요. 23살 여자입니다. 같이 에펠탑 보러 가실 분 구해요~" required style="padding: 1em; border: none; box-shadow: 0px 3px 12px 2px #7a7a7a54;"></textarea>
                    </div>
                </div>
            </div>
            <div class="container-wrap col-md-10 col-lg-10 justify-content-between" style="margin: 0 auto;">
                <a href="/boards" class="btn btn-outline-secondary">목록</a>
                <button class="btn btn-primary" id="postButton">글쓰기</button>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>