<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title th:text="'동행 구하기 | ' + ${dto.title}"></title>
    <script src="/static/js/board-detail.js"></script>
</head>
<body class="board-write">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-travel.png" alt="동행 구하기">
        </p>
        <h2>동행 상세보기</h2>
        <form th:action="@{'/boards/' + ${dto.id}}" th:method="post" id="updateForm">
            <input type="hidden" name="_method" value="put"/>
            <div class="container-wrap mb-3 edit">
                <div class="col-md-10 col-lg-10">
                    <button id="edit-button"> <!-- 수정 버튼 th:if="${writer}"-->
                        <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                    </button>
                </div>
            </div>
            <div class="board-inner mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="country" class="form-label">여행지</label>
                        <select class="form-select" id="country" name="country" disabled>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.name}"
                                    th:selected="${country.name} == ${dto.country}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select" id="category" name="category" disabled>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.category}"
                                    th:selected="${category.category} == ${dto.category}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="currentPeople" class="form-label">모집된 인원</label>
                        <input type="text" class="form-control" id="currentPeople" name="currentPeople" th:value="${dto.currentPeople}" disabled>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="maxPeople" class="form-label">모집 인원</label>
                        <input type="text" class="form-control" id="maxPeople" name="maxPeople" th:value="${dto.maxPeople}" disabled>
                    </div>
                </div>
                <div class="container-wrap mb-3">
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="startDate" class="form-label">시작일</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" th:value="${dto.startDate}" disabled>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" th:value="${dto.endDate}" disabled>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="status" class="form-label">상태</label>
                        <input type="text" class="form-control" id="status" name="status" th:value="${dto.status}"
                               disabled>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label for="createdAt" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="createdAt" name="createdAt"
                               th:value="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}" disabled>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-wrap mb-3 justify-content-between" style="max-width: 83%; margin: 0 auto;">
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="username" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${dto.username}"
                               disabled>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label for="applicantPeople" class="form-label">신청 인원</label>
                        <input type="text" class="form-control" id="applicantPeople" name="applicantPeople" th:value="${dto.applicantPeople}"
                               disabled>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-10 col-lg-10">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" disabled>
                    </div>
                </div>
                <div class="container-wrap board-message">
                    <div class="col-md-10 col-lg-10 form-info">
                        <label for="message" class="form-label">내용</label>
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <textarea class="form-control" id="message" name="content" rows="8" disabled="disabled">[[${dto.content}]]</textarea>
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <div class="container-wrap justify-content-center mt-5 mb-5">
                            <button type="button" class="btn btn-primary" id="cancel-button" style="display: none;">취소</button>
                            <button type="button" class="btn btn-primary" id="update-button" style="display: none;">수정</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-wrap col-md-10 col-lg-10 justify-content-between" style="margin: 0 auto;">
                <a href="/boards" class="btn btn-outline-secondary" id="list-button" style="margin-right: 6px;">목록</a>
                <a th:href="@{'/boards/' + ${dto.id} + '/comments'}" class="btn btn-outline-secondary" id="comment-button" style="margin-right: 6px;">댓글</a>
                <a th:href="@{'/boards/' + ${dto.id} + '/accompany/write'}" class="btn btn-primary" id="accompany-button" style="margin-right: auto;">동행 요청하기</a>
                <!--                <th:block th:if="${user != null and dto.getUsername() == user.getUsername()}">-->
                <div style="display: flex; justify-content: flex-end;">
                    <form th:action="@{'/boards/' + ${dto.id}}" th:method="post" id="deleteForm">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="btn btn-outline-danger" id="delete-button">삭제</button> <!--th:if="${writer}-->
                    </form>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>