<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title th:text="'동행 구하기 | ' + ${dto.title}"></title>
    <style>
        .board-detail {
            padding-top: 10rem;
        }

        .form-container {
            display: flex;
            flex-direction: row; /* 가로 방향으로 요소를 정렬 */
            align-items: center; /* 요소를 수직 중앙에 정렬 */
            gap: 10px; /* 요소 간 간격 설정 */
        }

        .form-container form {
            flex: 1; /* 폼 요소가 남은 공간을 차지하도록 설정 */
        }

        .form-container button {
            margin: 0; /* 버튼의 기본 여백 제거 */
        }
    </style>
    <script src="/static/js/board.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container board-detail" layout:fragment="content">
        <h1 class="mt-4">동행 구하기</h1>
        <div class="card mb-4">
            <div class="card-body">
                <form th:action="@{'/boards/' + ${dto.id}}" th:method="post" id="updateForm">
                    <input type="hidden" name="_method" value="put"/>
                    <div class="mb-3">
                        <label for="country" class="form-label">나라</label>
                        <input type="text" class="form-control" id="country" name="country" th:value="${dto.country}">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">카테고리</label>
                        <input type="text" class="form-control" id="category" name="category"
                               th:value="${dto.category}">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" name="content">[[${dto.content}]]</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="people" class="form-label">총 인원수</label>
                        <input type="text" class="form-control" id="people" name="people" th:value="${dto.people}">
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">시작일</label>
                        <input type="date" class="form-control" id="startDate" name="startDate"
                               th:value="${dto.startDate}">
                    </div>
                    <div class="mb-3">
                        <label for="endDate" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="endDate" name="endDate" th:value="${dto.endDate}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${dto.username}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">상태</label>
                        <input type="text" class="form-control" id="status" name="status" th:value="${dto.status}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label for="views" class="form-label">조회수</label>
                        <input type="text" class="form-control" id="views" name="views" th:value="${dto.views}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label for="createdAt" class="form-label">작성일</label>
                        <input type="text" class="form-control" id="createdAt" name="createdAt"
                               th:value="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}" disabled>
                    </div>
                    <div class="form-container">
                        <a href="/boards" class="btn btn-outline-secondary">목록</a>
                        <!--                <button type="button" class="btn btn-primary" id="updateButton">수정</button>-->
                        <!--                <a th:href="@{'/boards/' + ${dto.id} + '/edit'}" class="btn btn-primary">수정</a>-->
                        <!--                <th:block th:if="${user != null and dto.getUsername() == user.getUsername()}">-->
                        <button class="btn btn-primary" id="updateButton">수정</button>
                </form>
                <form th:action="@{'/boards/' + ${dto.id}}" th:method="post" id="deleteForm">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-outline-danger" id="deleteButton" onclick="window.confirm('삭제하시겠습니까?')">삭제
                    </button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>