<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title th:text="'동행 구하기 | ' + ${dto.title}"></title>
    <script src="/static/js/board-detail.js"></script>
</head>
<body class="board-write sender-read">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-travel.png" alt="동행 구하기">
        </p>
        <h2>동행 상세보기</h2>
        <p class="response-status" style="width: 40%;">
            <span th:text="${dto.status}" id="status-title"></span>
            <span th:text="${#temporals.format(dto.startDate, 'yyyy-MM-dd')}"></span> ~
            <span th:text="${#temporals.format(dto.endDate, 'yyyy-MM-dd')}"></span>
        </p>
        <form th:action="@{'/boards/' + ${dto.id}}" th:method="post" id="updateForm">
            <input type="hidden" name="_method" value="put"/>
            <div class="container-wrap mb-3 edit" style="justify-content: space-between; align-items: flex-end; margin-bottom: 10px !important;">
                <div class="travel-date">

                </div>
                <button id="edit-button"> <!-- 수정 버튼 th:if="${writer}"-->
                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                </button>
            </div>
            <div class="board-inner mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="country" class="form-label">여행지</label>
                        <select class="form-select" id="country" name="country" disabled>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.name}"
                                    th:selected="${country.name} == ${dto.country}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-3 me-3">
                        <label for="username" class="form-label">동행장</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${dto.username}" disabled>
                    </div>
                </div>
                <div class="container-wrap mb-3">
                    <div class="col-md-2 col-lg-2 me-3">
                        <label for="applicantPeople" class="form-label">신청자</label>
                        <input type="text" class="form-control" id="applicantPeople" name="applicantPeople" th:value="${dto.applicantPeople}" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2 me-3">
                        <label for="currentPeople" class="form-label">현재 인원</label>
                        <input type="text" class="form-control" id="currentPeople" name="currentPeople" th:value="${dto.currentPeople}" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2 me-3">
                        <label for="maxPeople" class="form-label">모집 인원</label>
                        <input type="text" class="form-control" id="maxPeople" name="maxPeople" th:value="${dto.maxPeople}" disabled>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="container-wrap mb-3">
                    <div class="col-md-10 col-lg-10">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" disabled>
                    </div>
                </div>
                <div class="container-wrap board-message">
                    <div class="col-md-10 col-lg-10 form-info">
                        <label for="message" class="form-label">내용</label>
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <textarea class="form-control" id="message" name="content" rows="8" disabled style="box-shadow: none;">[[${dto.content}]]</textarea>
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <p class="current-time">최근 작성일 : <span id="createdAt" th:value="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
                    </div>
                </div>
                <div class="container-wrap">
                    <div class="col-md-10 col-lg-10">
                        <div class="container-wrap justify-content-center mt-4 mb-5">
                            <button type="button" class="btn btn-light" id="cancel-button" style="display: none; margin-right: 1em;">취소</button>
                            <button type="button" class="btn btn-secondary" id="update-button" style="display: none;">수정</button>
                            <button type="button" class="btn btn-secondary" id="comment-button">
                                <a th:href="@{'/boards/' + ${dto.id} + '/comments'}" class="href-none">댓글</a>
                            </button>
                            <button type="button" class="btn btn-light" id="list-button" style="margin: 0 20em 0 1em">
                                <a href="/boards" class="href-none">목록</a>
                            </button>
                            <button type="button" class="btn btn-primary" id="accompany-button" style="margin-right: 1em;">
                                <a th:href="@{'/boards/' + ${dto.id} + '/accompany/write'}" class="href-none">동행 요청하기</a>
                            </button>
                            <button type="button" class="btn btn-danger" id="delete-button">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>