<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Page</title>
    <link rel="stylesheet" href="/static/css/comment.css"> <!-- 주어진 CSS 파일 경로를 추가하세요. -->
</head>
<body>

<!-- Header -->
<!--<div th:replace="~{header :: headerFragment}"></div>-->

<!-- 댓글 목록 -->
<section class="comment-section">
    <h2>댓글 목록</h2>
    <ul>
        <li th:each="comment : ${comments}">
            <!-- 메인 댓글 -->
            <div th:if="${comment.parentCommentId == null}" class="comment-container">
                <strong th:text="${comment.username}">Username</strong> <!-- username을 앞에 표시 -->
                <p th:text="${comment.content}">예시 댓글입니다.</p>
                <div class="comment-actions">
                    <button class="temp-3 edit-button" th:data-comment-id="${comment.id}">수정</button>
                    <button class="temp-3 delete-button" th:data-comment-id="${comment.id}">삭제</button>

                    <button class="temp-3 reply-button">답글쓰기</button>
                    <form action="/boards/{boardId}/comments/{commentId}" method="post" style="display:none;" class="edit-form">
                        <input type="hidden" name="_method" value="put"/>  <!-- HTTP PUT 메소드를 위한 hidden input -->
                        <textarea name="commentContent" class="item-contents"></textarea>
                        <input type="submit" value="수정 저장">
                    </form>
                </div>
                <!-- 답글 작성 폼 (위치 변경 없음) -->
                <div class="reply-form" style="display:none;">
                    <textarea placeholder="답글을 입력하세요" class="item-contents"></textarea>
                    <button class="temp-3 post-reply" th:data-parent-id="${comment.id}">답글 저장</button>
                </div>
            </div>

            <!-- 답글 -->
            <div th:if="${comment.parentCommentId != null}" class="comment-container">
                <strong th:text="${comment.username}">Username</strong> <!-- username을 앞에 표시 -->
                <p th:text="${comment.content}">예시 답글입니다.</p>
                <div>
                    <button class="temp-3 edit-button" th:data-comment-id="${comment.id}">수정</button>
                    <button class="temp-3 delete-button" th:data-comment-id="${comment.id}">삭제</button>
                </div>
            </div>
        </li>
    </ul>
</section>

<!-- 댓글 작성 폼 -->
<section class="comment-section">
    <h2>댓글 작성</h2>
    <form action="/boards/{boardId}/comments" method="post">
        <textarea name="commentContent" class="item-contents" placeholder="댓글을 입력하세요"></textarea>
        <input type="submit" value="POST" class="temp-3">
    </form>
</section>

<script src="/static/js/comments.js"></script>

</body>
</html>