<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
>
<head>
    <meta charset="UTF-8">
    <title>동행 후기 작성</title>
    <link rel="stylesheet" href="/static/css/reviews.css">
    <script src="/static/js/reviews.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content">
        <h2>동행 후기 작성</h2>
        <div class="original-board">
            <a class="href-none" href="#">
                <span class="original-left">
                    <p><img src="/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
                </span>
                <span class="original-right">
                    <span class="original-right-top" th:text="${board.title}">
                        원글 제목
                    </span>
                    <br>
                    <span class="original-right-bottom">
                        <span th:text="${board.username}">원글 작성자</span>
                        <span>·</span>
                        <span th:text="${board.country}">여행지</span>
                    </span>
                </span>
            </a>
        </div>
        <br>
<!--        <form th:action="@{'/boards/' + ${boardId} + '/reviews/write'}" th:method="post" id="createForm">-->
        <form id="createForm">
            <div class="rating">
                <h4>여행은 어떠셨나요 ?</h4>
                <span>별로였어요</span>
                <br>
                <input type="range" class="form-range" id="customRange1" min="1" max="5" value="3" step=0.5 onchange="range_change(this)">
                <input type="text" id="rating" name="rating" value="3">
                <script>
                    function range_change(obj) {
                        document.getElementById('rating').value=obj.value;
                    }
                </script>
                <br>
                <span>좋았어요 !</span>
            </div>
            <br>
            <div>
                <h4>후기를 남겨주세요</h4>
                <div class="mb-3 review-board-update">
                    <textarea class="review-content" id="exampleFormControlTextarea1" name="content" rows="7" cols="92"></textarea>
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-light" id="createButton">등록</button>
                    <button type="button" class="btn btn-secondary">취소</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>

<!--
별점 코드
<div class="starpoint_wrap" onclick="range_change(this)">-->
<!--                <div class="starpoint_box">-->
<!--                    <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>-->
<!--                    <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>-->
<!--                    <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>-->
<!--                    <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>-->
<!--                    <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>-->
<!--                    <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>-->
<!--                    <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>-->
<!--                    <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>-->
<!--                    <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>-->
<!--                    <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>-->
<!--                    <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">-->
<!--                    <span class="starpoint_bg"></span>-->
<!--                </div>-->
<!--            </div>-->
