<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Are you travelers</title>
</head>
<th:block layout:fragment="content">
    <!-- Banner -->
    <div class="main-banner">
        <img class="masthead-avatar mb-5" src="/static/images/main/main-banner.png" alt="배너"/>
    </div>
    <!-- Main Section -->
    <section class="page-section portfolio" id="portfolio" style="padding: 0;">
        <div class="container">
            <!-- Main Menu -->
            <img class="main-menu-icon" src="/static/images/icon/icon-with.png" alt="동행 구하기">
            <h2 class="page-section-heading text-secondary mb-0 main-menu">최신 동행 구하기</h2>
            <!-- Main Grid Items -->
            <div class="row justify-content-start">
                <!-- 게시물 목록을 반복하며 게시물 정보 출력 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5" th:each="board : ${boardsPage != null ? boardsPage.content : {}}"
                     th:if="${board.category} == 여행">
                    <div class="board-item mx-auto">
                        <a class="href-none" th:href="@{'/boards/' + ${board.id}}">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date" th:text="${board.startDate}"></span>
                                        <span> ~ </span>
                                        <span class="end-date" th:text="${board.endDate}"></span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">
                                        <span class="min-num" th:text="${board.currentPeople}"></span>
                                        <span>/</span>
                                        <span class="max-num" th:text="${board.maxPeople}"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon">
                                    <img src="/static/images/icon/icon-location.png" alt="지도아이콘">
                                    <span th:text="${board.country}"></span>
                                </p>
                                <p class="board-item-img">
                                    <img th:src="@{'/static/images/country/' + ${board.country} + '.jpg'}" alt="배경이미지">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title" th:text="${board.title}"></p>
                                <p class="user-name" th:text="${board.username}"></p>
                                <p class="user-profile">
                                    <span class="user-age" th:text="${board.age}"></span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti" th:text="${board.mbti}"></span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender" th:text="${board.gender}"></span>
                                </p>
                                <p class="user-temp">
                                    <span th:class="|temp-${board.temperature >= 30 and board.temperature <= 40 ? '3' : (board.temperature < 30 ? '5' : (board.temperature > 40 ? '4' : ''))}|"
                                          th:text="${board.temperature}"></span>℃
                                </p>
                                <p class="item-contents" th:text="${board.content}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
