<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Are you travelers</title>
</head>
<th:block layout:fragment="content">
    <!-- Banner -->
    <div class="main-banner">
        <img class="masthead-avatar mb-5" src="/static/images/main/main-banner.png" alt="배너"/>
    </div>
    <!-- Main Section -->
    <section class="page-section portfolio" id="portfolio" style="padding: 0;">
        <div class="container">
            <!-- Main Menu -->
            <img class="main-menu-icon" src="/static/images/icon/icon-with.png" alt="동행 구하기">
            <h2 class="page-section-heading text-secondary mb-0 main-menu">동행 구하기</h2>
            <!-- Main Grid Items -->
            <div class="row justify-content-center">
                <!-- Board Item 1 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-09-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-09-20</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">파리
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/paris.jpg" alt="파리">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">오늘 파리 에펠탑 보러 가실 분?</p>
                                <p class="user-name">김철수</p>
                                <p class="user-profile">
                                    <span class="user-age">26</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ESTJ</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <div class="item-contents">
                                    <p>
                                        안녕하세요. 저는 홍길동이라고 하구요, 나이는 28세 남자입니다!  같이 오사카 여행 해봐요. 저는 일본어에 능통하고, 현지 음식점 가는 것을 좋아해요. 맛집 탐방에 진심이라 같이 여행하면 현지 음식을 맛보고, 현지 문화와 사람들과 소통하는 것이 여행의 큰 즐거움을 느껴봐요!
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 2 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-10-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-10-20</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">2</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">오사카
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/osaka.jpg" alt="오사카">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">같이 오사카 여행 하실 분!</p>
                                <p class="user-name">홍길동</p>
                                <p class="user-profile">
                                    <span class="user-age">22</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">INFP</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">안녕하세요. 오늘 난바 여행 가실 분 구해요~ 같이 여행 할 1명 구하고 비슷한 나이대면 좋겠어요 ~ ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 3 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-09-20</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-09-25</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">오사카
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/usj.jpg" alt="배경이미지">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">유니버셜 스튜디오에서 놀 사람 구해요!</p>
                                <p class="user-name">유미미</p>
                                <p class="user-profile">
                                    <span class="user-age">22</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ENFP</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">여성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">유니버셜 스튜디오 가고 싶어서 동행 구하게 됐어요! 저 포함 3명 정도 구하고 비슷한 나이대면 좋겠어요 ~
                                    ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 4 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-12-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-12-31</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">스위스
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/switzerland.jpg" alt="배경이미지">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">겨울에 스위스 여행 같이 가요~</p>
                                <p class="user-name">장발장</p>
                                <p class="user-profile">
                                    <span class="user-age">30</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ISTJ</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">저 포함 3명 정도 구하고 비슷한 나이대면 좋겠어요 ~ ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 5 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-09-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-09-20</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">파리
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/paris.jpg" alt="파리">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">오늘 파리 에펠탑 보러 가실 분?</p>
                                <p class="user-name">김철수</p>
                                <p class="user-profile">
                                    <span class="user-age">26</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ESTJ</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">안녕하세요. 오늘 에펠탑 보러 가실 분 구해요~ 저 포함 3명 정도 구하고 비슷한 나이대면 좋겠어요 ~
                                    ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 6 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-10-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-10-20</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">2</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">오사카
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/osaka.jpg" alt="오사카">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">같이 오사카 여행 하실 분!</p>
                                <p class="user-name">홍길동</p>
                                <p class="user-profile">
                                    <span class="user-age">22</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">INFP</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">안녕하세요. 오늘 난바 여행 가실 분 구해요~ 같이 여행 할 1명 구하고 비슷한 나이대면 좋겠어요 ~ ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 7 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-09-20</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-09-25</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">오사카
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/usj.jpg" alt="배경이미지">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">유니버셜 스튜디오에서 놀 사람 구해요!</p>
                                <p class="user-name">유미미</p>
                                <p class="user-profile">
                                    <span class="user-age">22</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ENFP</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">여성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">유니버셜 스튜디오 가고 싶어서 동행 구하게 됐어요! 저 포함 3명 정도 구하고 비슷한 나이대면 좋겠어요 ~
                                    ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Board Item 8 -->
                <div class="col-md-6 col-lg-3 col-lg-3-2 mb-5">
                    <div class="board-item mx-auto">
                        <a class="href-none" href="#">
                            <div class="board-item-header">
                                <div class="header-left">
                                    <p class="item-date">
                                        <span class="start-date">2023-12-15</span>
                                        <span> ~ </span>
                                        <span class="end-date">2023-12-31</span>
                                    </p>
                                </div>
                                <div class="header-right">
                                    <p class="item-ing">모집중
                                        <span class="min-num">1</span>
                                        <span>/</span>
                                        <span class="max-num">3</span>
                                    </p>
                                </div>
                            </div>
                            <div class="board-item-bg">
                                <p class="board-item-icon"><img src="/static/images/icon/icon-location.png" alt="지도아이콘">스위스
                                </p>
                                <p class="board-item-img">
                                    <img src="/static/images/country/switzerland.jpg" alt="배경이미지">
                                </p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">겨울에 스위스 여행 같이 가요~</p>
                                <p class="user-name">장발장</p>
                                <p class="user-profile">
                                    <span class="user-age">30</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-mbti">ISTJ</span>
                                    <span class="--bs-gray-500">·</span>
                                    <span class="user-gender">남성</span>
                                </p>
                                <p class="user-temp"><span class="temp-3">36.5</span>℃</p>
                                <p class="item-contents">저 포함 3명 정도 구하고 비슷한 나이대면 좋겠어요 ~ ^^</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
