<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />-->
    <title>로그인</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet" type="text/css"/>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" th:href="@{/static/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/static/css/styles2.css}" />
</head>
<body class="login">
    <!-- Header -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="로고"></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="nav-left">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/">홈</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">동행 구하기</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">가이드 신청하기</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">마이페이지</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">로그인</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="page-section">
        <div class="container">
            <div class="login-inner">
                <img src="/static/images/logo.png" alt="로고">
                <h1>로그인</h1>
                <form id="login-form">
                    <div class="id">
                        <label for="username"></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="아이디" />
                    </div>
                    <div class="password">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" />
                    </div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
                <!-- 회원가입으로 가는 링크-->
                <a href="signup">계정이 없으신가요?</a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="mb-5 mb-lg-0">
                    <img src="static/images/logo.png" alt="로고">
                    <p>Powered by AreYouTravelers<br>
                        Website designed by 3355<br>
                        © 2023 3355Corp. All rights reserved.<br>
                        AreYouTravelers는 통신판매중개자이며 통신판매 당사자가 아닙니다. 상품정보 및 거래에 관한 책임은 판매자에게 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/user.js"></script>
    <script>
        const lastUrl = new URLSearchParams(location.search).get('next') ?? '/'
        fetchLoggedIn().then(userInfo => {
            if (userInfo) {
                location.href = lastUrl
                alert("이미 로그인 상태입니다.") // 로그인되어있어야되고
            }
        })
        document.getElementById('login-form').addEventListener('submit', e => {
            e.preventDefault()
            const data = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            }
            fetch('/users/login', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) return response.json()
                else throw new Error(response.status.toString())
            }).then(bodyJson => {
                localStorage.setItem('accessToken', bodyJson.accessToken)
                location.href = lastUrl
            }).catch(e => {
                console.log(e.message)
                alert('로그인 정보가 일치하지 않습니다.')
            })
        })
    </script>
</body>
</html>
