<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>로그인</title>
    <!-- login.js 파일 불러오기 -->
    <script type="module" src="/static/js/login.js"></script>
</head>
<body class="login">
<th:block layout:fragment="content">
    <section class="page-section">
        <div class="container">
            <div class="login-inner">
                <img src="/static/images/logo.png" alt="로고">
                <h1>로그인</h1>
                <form id="login-form">
                    <div class="id">
                        <label for="username"></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="아이디" />
                    </div>
                    <div class="password">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" />
                    </div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
                <!-- 회원가입으로 가는 링크-->
                <a href="signup">계정이 없으신가요?</a>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>
