<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>마이페이지</title>
</head>
<body class="my-page">
<th:block layout:fragment="content">
    <!-- Contents -->
    <nav id="subNav">
        <div class="container">
            <ul class="navbar-nav me-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link active py-3 px-0 px-lg-3" href="#">계정 설정</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">받은 동행 요청</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">동행 요청 내역</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#">여행 후기</a></li>
            </ul>
        </div>
    </nav>
    <section class="page-section">
        <div class="container">
            <!-- Title -->
            <img class="main-menu-icon" src="/static/images/icon/icon-with.png" alt="동행 구하기">
            <h2 class="page-section-heading text-secondary mb-0 main-menu">계정 설정</h2>
            <!-- Main Grid Items -->
            <div class="row justify-content-center">
                <!-- left -->
                <div class="profile col-md-3 mx-auto">
                    <div class="profile-image">
                        <div class="profile-image-inner">
                            <div class="profile-image-circle">
                                <img src="/static/images/user-profile-basic.png" alt="">
                            </div>
                        </div>
                        <button>
                            <img src="/static/images/icon/icon-edit-image.png" alt="">
                        </button>
                    </div>
                    <div class="profile-name">
                        <p class="profile-username">dohun</p>
                        <p class="profile-fullname">김도훈</p>
                    </div>
                    <div class="profile-info">
                        <div class="info-box">
                            <div class="info-box-inner">
                                <span class="info-title">MBTI</span>
                                <p class="info-content">ESTJ</p>
                            </div>
                            <div class="info-box-inner">
                                <span class="info-title">온도</span>
                                <p class="info-content"><span class="info-temp">36.5</span>℃</p>
                            </div>
                            <div class="info-box-inner">
                                <span class="info-title">성별</span>
                                <p class="info-content">남성</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right -->
                <div class="profile2 col-md-9 mb-5 mx-auto">
                    <h3>회원 정보</h3>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>이름</p>
                            </div>
                            <input disabled="disabled" type="text" value="김도훈">
                        </div>
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>닉네임</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" value="dohun">
                        </div>
                    </div>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>생년월일</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" value="1998-09-06">
                        </div>
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>MBTI</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" value="ESTJ">
                        </div>
                    </div>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-12 col-lg-12 mb-5">
                            <div class="profile2-title">
                                <p>이메일</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" class="profile2-email" type="text" value="dohun@gmail.com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>