<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>프로필</title>
</head>
<body class="my-page">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container-wrap justify-content-between">
        <nav id="subNav" class="col-md-2 col-lg-2">
            <div class="container">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item mx-0 mx-lg-1">마이페이지
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link active py-2 px-0 px-lg-3" href="/mypage">프로필</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="#">나의 알림</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">나의 동행
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="#">내가 쓴 글</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/receiverRequests">받은 동행</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/senderRequests">보낸 동행</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/reviewPossible">후기 작성</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">나의 후기
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/readReviewsAll">받은 후기</a>
                            </li>
                            <li class="nav-item mx-0">
                                <a class="nav-link py-2 px-0 px-lg-3" href="/readReviewsAllBySender">보낸 후기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="container-content page-section col-md-9 col-lg-9">
            <!-- Title -->
            <img class="sub-menu-icon" src="/static/images/icon/icon-mypage.png" alt="프로필">
            <h2 class="page-section-heading text-secondary mb-0 main-menu">프로필</h2>
            <!-- Main Grid Items -->
            <div class="row justify-content-center">
                <!-- left -->
                <div class="profile col-md-4 mx-auto">
                    <div class="profile-image">
                        <div class="profile-image-inner">
                            <div class="profile-image-circle">
                                <img src="/static/images/user-profile-basic.png" alt="">
                            </div>
                        </div>
                        <button>
                            <img src="/static/images/icon/icon-edit-image.png" alt="">
                        </button>
                    </div>
                    <div class="profile-name">
                        <p class="profile-username" id="profile-username"></p>
                        <p class="profile-fullname" id="profile-fullname"></p>
                    </div>
                    <div class="profile-info">
                        <div class="info-box">
                            <div class="info-box-inner">
                                <span class="info-title">MBTI</span>
                                <p class="info-content" id="info-mbti"></p>
                            </div>
                            <div class="info-box-inner">
                                <span class="info-title">온도</span>
                                <p class="info-content"><span class="info-temp" id="info-temp"></span>℃</p>
                            </div>
                            <div class="info-box-inner">
                                <span class="info-title">성별</span>
                                <p class="info-content" id="info-gender"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right -->
                <div class="profile2 col-md-8 mx-auto">
                    <h3>회원 정보</h3>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>이름</p>
                            </div>
                            <input disabled="disabled" type="text" id="fullName" value="">
                        </div>
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>닉네임</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" id="username" value="">
                        </div>
                    </div>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>생년월일</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" id="birthDate" value="">
                        </div>
                        <div class="col-md-6 col-lg-6 mb-5">
                            <div class="profile2-title">
                                <p>MBTI</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" type="text" id="mbti" value="">
                        </div>
                    </div>
                    <div class="profile2-box mx-auto">
                        <div class="col-md-12 col-lg-12 mb-5">
                            <div class="profile2-title">
                                <p>이메일</p>
                                <button>
                                    <img src="/static/images/icon/icon-edit.png" alt="수정 버튼">
                                </button>
                            </div>
                            <input disabled="disabled" class="profile2-email" type="text" id="email" value="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>