<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>받은 동행 요청 조회</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
<!--    <script src="/static/js/read-sender-requests.js"></script>-->
    <script>
        // accessToken 불러오기
        let accessToken = localStorage.getItem('accessToken');
        const boardId = window.location.pathname.split("/")[2];
        const senderId = window.location.pathname.split("/")[4];

        document.addEventListener('DOMContentLoaded', function () {
            const updateForm = document.getElementById('updateForm');
            const acceptButton = document.getElementById('acceptButton');
            const rejectButton = document.getElementById('rejectButton');

            acceptButton.addEventListener('click', function (event) {
                event.preventDefault();
                const formData = new FormData(updateForm);
                if (confirm("동행 요청을 수락 하시겠습니까?")) {
                    fetch(`/boards/${boardId}/receiver-requests/${senderId}?status=accept`, {
                        method: 'PUT',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(Object.fromEntries(formData.entries()))
                    })
                        .then(response => {
                            if (response.ok) {
                                alert('동행 요청을 수락했습니다.');
                                window.location.href = '/sender-requests';
                                // location.reload();
                            } else {
                                alert('이미 응답하였습니다.');
                            }
                        })
                        .catch(error => {
                            console.error('Network error:', error);
                        });
                }
            });

            rejectButton.addEventListener("click", function (event) {
                event.preventDefault();
                if (confirm("동행 요청을 거절 하시겠습니까?")) {
                    fetch(`/boards/${boardId}/receiver-requests/${senderId}?status=reject`, {
                        method: 'PUT',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken,
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                alert("동행 요청이 거절되었습니다.");
                                window.location.href = `/sender-requests`;
                            } else {
                                alert("이미 응답하였습니다.");
                            }
                        })
                        .catch(error => {
                            console.error('Network error:', error);
                        });
                } else {
                    alert("동행 요청 거절이 취소되었습니다.");
                }
            });
        });
    </script>
</head>
<body class="sender-read">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-sender-requests.png" alt="동행 요청하기">
        </p>
        <h2>동행 요청 조회</h2>
        <h3 class="board-title">동행 요청자</h3>
        <div class="original-board">
            <div class="original-right">
                <div class="original-right-top">
                    <img th:src="${sender.profileImg}" alt="프로필 이미지">
                </div>
                <div class="original-right-bottom">
                    <div>
                        <span th:text="${sender.temperature}"></span>
                    </div>
                    <div>
                        <span th:text="${sender.username}"></span>
                        <span th:text="${sender.gender}"></span>
                        <span th:text="${sender.mbti}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-message">
            <h4 class="board-title">받은 메세지</h4>
            <form th:action="@{'/boards/' + ${boardId} + '/sender-requests'}" th:method="put" id="updateForm">
                <div class="board-message">
                    <textarea name="message" id="message" rows="8" th:text="${senderRequests.message}"></textarea>
                </div>
                <div class="container-wrap justify-content-center mt-5 mb-5">
                    <button type="button" class="btn btn-secondary">
                        <a href="/sender-requests">이전</a>
                    </button>
<!--                    <button type="button" class="btn btn-secondary" id="acceptButton">수락</button>-->
<!--                    <button type="button" class="btn btn-danger" id="rejectButton">거절</button>-->
                    <button type="button" class="btn btn-secondary" id="acceptButton" onclick="updateStatus('ACCEPTED')">수락</button>
                    <button type="button" class="btn btn-danger" id="rejectButton" onclick="updateStatus('REJECTED')">거절</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>