<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>후기 단일 조회</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="stylesheet" href="/static/css/reviews.css">
    <script src="/static/js/reviews.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content">
        <h2>동행 후기 단일 조회</h2>
        <div class="original-board">
            <a class="href-none" href="#">
                <span class="original-left">
                    <p><img src="/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
                </span>
                <span class="original-right">
                    <span class="original-right-top" th:text="${board.title}">
                        원글 제목
                    </span>
                    <br>
                    <span class="original-right-bottom">
                        <span th:text="${board.username}">원글 작성자</span>
                        <span>·</span>
                        <span th:text="${board.country}">여행지</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="review-board">
            <div>
                <span class="original-left">
                    <p><img src="/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
                </span>
                <span class="original-right">
                    <span class="original-right-top" th:text="${review.senderUsername}">
                        후기 작성자
                    </span>
                    <br>
                    <span class="original-right-bottom">
                        <span th:text="${review.rating}">별점</span>
                    </span>
                </span>
            </div>
            <div>
                <textarea th:text="${review.content}" class="review-content">후기 내용</textarea>
            </div>
        </div>
<!--        TODO onClick 부분 수정. 뒤로가기 말고 readReviewAll로 가도록 -->
        <button type="button" class="btn btn-light" onclick="window.history.go(-1)">목록</button>
            <!-- 수정, 삭제 버튼은 본인 작성 후기 시에만 보이도록 활성화할 예정 -->
            <button type="button" class="btn btn-primary" id="update">
                <a th:href="@{'/boards/' + ${boardId} + '/reviews/' + ${reviewId} + '/edit'}">수정</a>
            </button>
            <button type="button" class="btn btn-danger" id="deleteButton">삭제</button>
    </div>
</th:block>
</body>
</html>