<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>후기 단일 조회</title>
    <script>
        // accessToken 불러오기
        let accessToken = localStorage.getItem('accessToken');
        const boardId = window.location.pathname.split("/")[2];
        const reviewId = window.location.pathname.split("/")[4];

        // 게시물 조회 요청
        fetch(`/boards/${boardId}/reviews/${reviewId}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ` + accessToken, // JWT 토큰을 포함
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('서버에서 응답 오류 발생');
                }
            })
            .then(data => {
                console.log('서버로부터 받은 데이터:', data);
                // 원하는 동작 수행
            })
            .catch(error => {
                console.error('에러:', error);
            });
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButton = document.getElementById('deleteButton');

            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                if (confirm("게시물을 삭제하시겠습니까?")) {
                    fetch(`/boards/${boardId}/reviews/${reviewId}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken,
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                alert("후기가 삭제되었습니다.");
                                window.location.href = `/`;
                            } else {
                                alert("후기 삭제에 실패했습니다.");
                            }
                        })
                        .catch(error => {
                            console.error('Network error:', error);
                        });
                } else {
                    alert("후기 삭제가 취소되었습니다.");
                }
            });
        });
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container container2" >
        <h2>동행 후기 단일 조회</h2>
        <div class="original-board">
            <a class="href-none" href="#">
                <span class="original-left">
                    <p><img th:src="'/' + ${boardWriter.profileImg}" alt="원글 작성자 프로필 사진"></p>
                </span>
                <span class="original-right">
                    <span class="original-right-top" th:text="${board.title}">원글 제목</span>
                    <br>
                    <span class="original-right-bottom">
                        <span th:text="${board.username}">원글 작성자</span>
                        <span>·</span>
                        <span th:text="${board.country}">여행지</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="review-board">
            <div>
                <span class="original-left">
                    <p><img th:src="'/' + ${reviewWriter.profileImg}" alt="후기 작성자 프로필 사진"></p>
                </span>
                <span class="original-right">
                    <span class="original-right-top" th:text="${review.senderUsername}">
                        후기 작성자
                    </span>
                    <br>
                    <span class="original-right-bottom">
                        <span th:text="${review.rating}">별점</span>
                    </span>
                </span>
            </div>
            <div>
                <textarea th:text="${review.content}" class="review-content">후기 내용</textarea>
            </div>
        </div>
        <!--        TODO onClick 부분 수정. 뒤로가기 말고 readReviewAll로 가도록 -->
        <button type="button" class="btn btn-light">
            <a th:href="@{'/boards/' + ${boardId} + '/reviews'}">목록</a>
        </button>
        <!-- 수정, 삭제 버튼은 본인 작성 후기 시에만 보이도록 활성화할 예정 -->
        <button type="button" class="btn btn-primary" id="update">
            <a th:href="@{'/boards/' + ${boardId} + '/reviews/' + ${reviewId} + '/edit'}">수정</a>
        </button>
        <button type="button" class="btn btn-danger" id="deleteButton">삭제</button>
    </div>
</th:block>
</body>
</html>