<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>동행 요청 조회</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
<!--    <script src="/static/js/read-sender-requests.js"></script>-->
    <script>
        // accessToken 불러오기
        let accessToken = localStorage.getItem('accessToken');
        const boardId = window.location.pathname.split("/")[2];
        const id = window.location.pathname.split("/")[4];

        // 게시물 조회 요청
        fetch(`/boards/${boardId}/sender-requests/${id}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ` + accessToken, // JWT 토큰을 포함
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('서버에서 응답 오류 발생');
                }
            })
            .then(data => {
                console.log('서버로부터 받은 데이터:', data);
                // 원하는 동작 수행
            })
            .catch(error => {
                console.error('에러:', error);
            });
        document.addEventListener('DOMContentLoaded', function () {
            const updateForm = document.getElementById('updateForm');
            const updateButton = document.getElementById('updateButton');
            const deleteButton = document.getElementById('deleteButton');

            updateButton.addEventListener('click', function (event) {
                event.preventDefault();
                const formData = new FormData(updateForm);

                fetch(`/boards/${boardId}/sender-requests/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(Object.fromEntries(formData.entries()))
                })
                    .then(response => {
                        if (response.ok) {
                            alert('동행 요청이 업데이트되었습니다.');
                            window.location.href = '/sender-requests';
                            // location.reload();
                        } else {
                            alert('동행 요청 수정에 실패했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Network error:', error);
                    });
            });


            deleteButton.addEventListener("click", function (event) {
                event.preventDefault();
                if (confirm("동행 요청을 삭제하시겠습니까?")) {
                    fetch(`/boards/${boardId}/sender-requests/${id}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + accessToken,
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                alert("동행 요청이 삭제되었습니다.");
                                window.location.href = `/`;
                            } else {
                                alert("동행 요청 삭제에 실패했습니다.");
                            }
                        })
                        .catch(error => {
                            console.error('Network error:', error);
                        });
                } else {
                    alert("후기 삭제가 취소되었습니다.");
                }
            });
        });
    </script>
</head>
<body class="sender-read">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-sender-requests.png" alt="동행 요청하기">
        </p>
        <h2>동행 요청 조회</h2>
        <h3 class="board-title">현재 게시글</h3>
        <div class="original-board">
            <a class="href-none" th:href="@{'/boards/' + ${boardId}}">
                <div class="original-left">
                    <img th:src="'/' + ${profileImg}" alt="원글 작성자 프로필 사진" />
                </div>
                <div class="original-right">
                    <div class="original-right-top" th:text="${board.title}"></div>
                    <div class="original-right-bottom">
                        <p>작성자: <span th:text="${board.username}"></span> |</p>
                        <p>여행지: <span th:text="${board.country}"></span> |</p>
                        <p>기간: <span th:text="${board.startDate}"></span> ~ <span th:text="${board.endDate}"></span></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="board-message">
            <h4 class="board-title">동행 요청 메세지를 작성해주세요.</h4>
            <form th:action="@{'/boards/' + ${boardId} + '/sender-requests'}" th:method="put" id="updateForm">
                <div class="board-message">
                    <textarea name="message" id="message" rows="8" th:text="${senderRequests.message}"></textarea>
                </div>
                <div class="container-wrap justify-content-center mt-5 mb-5">
                    <button type="button" class="btn btn-secondary">
                        <a href="/sender-requests">목록</a>
                    </button>
                    <button type="button" class="btn btn-secondary" id="updateButton">
                        수정
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteButton">삭제</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>