<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후기 단일 조회</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/reviews.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles2.css">
</head>
<body>
<div class="content">
    <h2>동행 후기 단일 조회</h2>
    <div class="original-board">
        <a class="href-none" href="#">
            <span class="original-left">
                <p><img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
            </span>
            <span class="original-right">
                <span class="original-right-top">
                    원글 제목
                </span>
                <br> 
                <span class="original-right-bottom">
                    <span>원글 작성자</span>
                    <span>·</span>
                    <span>여행지</span>
                </span>
            </span>
        </a>
    </div>
    <div class="review-board">
        <div>
            <span class="original-left">
                <p><img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
            </span>
            <span class="original-right">
                <span class="original-right-top">
                    후기 작성자
                </span>
                <br> 
                <span class="original-right-bottom">
                    <span>별점</span>
                </span>
            </span>
        </div>
        <div>
            <span>후기 내용</span>
        </div>
    </div>
    <button type="button" class="btn btn-light" onclick="window.history.go(-1)">목록</button>
        <!-- 수정, 삭제 버튼은 본인 작성 후기 시에만 보이도록 활성화할 예정 -->
        <button type="button" class="btn btn-primary" id="update">수정</button>
        <button type="button" class="btn btn-danger" id="delete">삭제</button>
</div>





<!-- <div class="container">
    <h2>동행 후기 조회</h2>
    <div>
        <p>원글로 이동</p>
        <div class="div-center">
            <div class="boards">
                <div class="board-item mx-auto">
                    <a class="href-none" href="#">
                        <div class="board-item-header">
                            <div>
                                <p><img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 이미지"></p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title">원글 제목</p>
                                <span class="user-name">원글 작성자</span>
                                <span class="user-name">·</span>
                                <span class="user-profile">여행지</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="boards">
                <div class="board-item mx-auto">
                    <a class="href-none" href="#">
                        <div class="board-item-header">
                            <div>
                                <p><img src="/src/main/resources/static/images/user-profile1.jpg" alt="후기 작성자 프로필 이미지"></p>
                            </div>
                            <div class="board-item-info">
                                <p class="item-title" id="review-writer">후기 작성자</p>
                                <span class="user-name">별점</span>
                            </div>
                        </div>
                        <div>
                            <p>후기 내용</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script>
            // let review = await fetch('/boards/' + boardId + '/reviews/' + reviewId);
            // review = await review.json();

            // fetch("https://localhost:8080/boards/2/reviews/4")
            //     .then((response) => response.json())
            //     .then((data) => console.log(data))

            fetch("https://localhost:8080/boards/2/reviews/4")
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then(function(data) {
                    // data를 활용하여 필요한 작업을 수행
                })
                .catch(function(error) {
                    console.error("Fetch error:", error);
                });

        </script>
    <div>
        <button>Edit</button>
        <button>Delete</button>
        <button onclick="window.history.go(-1)">Back</button>
    </div>
</div> -->
</body>
</html>