<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 후기</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/reviews.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles2.css">
</head>
<body>
    <div class="content">
        <div class="title-header">
            <h2>내가 작성한 후기</h2>
            <h2 class="temperature">28.4℃</h2>
        </div>
        <div class="original-board">
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>후기 작성자명</span>
                            <span>·</span>
                            <span>여행지</span>
                            <span>·</span>
                            <span>별점</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>후기 내용</span>
                        </span>                        
                    </span>
                </a>
            </div>
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>김커비</span>
                            <span>·</span>
                            <span>핀란드</span>
                            <span>·</span>
                            <span>★★★☆☆</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</span>
                        </span>                        
                    </span>
                </a>
            </div>
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>김커비</span>
                            <span>·</span>
                            <span>핀란드</span>
                            <span>·</span>
                            <span>★★★☆☆</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</span>
                        </span>                        
                    </span>
                </a>
            </div>
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>김커비</span>
                            <span>·</span>
                            <span>핀란드</span>
                            <span>·</span>
                            <span>★★★☆☆</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</span>
                        </span>                        
                    </span>
                </a>
            </div>
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>김커비</span>
                            <span>·</span>
                            <span>핀란드</span>
                            <span>·</span>
                            <span>★★★☆☆</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</span>
                        </span>                        
                    </span>
                </a>
            </div>
            <div class="review-list">
                <a class="href-none" href="#">
                    <span class="review-left">
                        <img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
                    </span>
                    <span class="review-right">
                        <span class="review-right-top">
                            <span>김커비</span>
                            <span>·</span>
                            <span>핀란드</span>
                            <span>·</span>
                            <span>★★★☆☆</span>    
                        </span>
                        <br>
                        <span class="review-right-bottom">
                            <span>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</span>
                        </span>                        
                    </span>
                </a>
            </div>
        </div>
    </div>

</body>
</html>