<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>후기 전체 조회</title>
</head>
<body class="read-reviews-all">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container-wrap justify-content-between">
        <!-- mypage nav-->
        <th:block th:replace="~{layout/mypage-nav :: myPageFragment}"></th:block>
        <section class="container-content page-section col-md-9 col-lg-9">
            <!-- Title -->
            <!--            <img th:src="'/' + ${receiver.profileImg}" alt="사용자 프로필 사진"/>-->
            <img src="/static/images/user-profile2.jpg" alt="원글 작성자 프로필 사진"  style="width: 55px; margin-right: 10px; border-radius: 50%;"/>
            <h2 class="page-section-heading text-secondary mb-0 main-menu"
                th:text="${sender.username} + '님이 보낸 후기'">
            </h2>
            <!-- Contents -->
            <div class="container">
                <h3 class="board-title" th:text="${sender.username} + '님의 여행 온도'"></h3>
                <p class="board-temperature user-temp">
                    <span th:class="|temp-${sender.temperature >= 30 and sender.temperature <= 40 ? '3' : (sender.temperature < 30 ? '5' : (sender.temperature > 40 ? '4' : ''))}|"
                          th:text="${sender.temperature}"></span><span style="font-weight: 400; color: #6b6b6b; font-size: 22px; margin-left: 4px;">℃</span>
                </p>
                <!-- Grid Items -->
                <div class="container read-reviews-all-wrap">
                    <div class="review-list" th:each="review, idx : ${reviewList}">
                        <a class="href-none" th:href="@{'/boards/' + ${review.boardId} + '/reviews/sender/' + ${review.id}}">
                            <div class="review-top">
                                <p class="review-top-left">
                                    <span class="review-requests-profile">
                                        <img src="/static/images/user-profile2.jpg" alt="원글 작성자 프로필 사진">
                                    </span>
                                    <span th:text="${review.senderUsername} + '님이 보낸 후기'"></span>
                                </p>
                                <p class="review-top-right">
                                    <span th:text="${review.rating}"></span>
                                </p>
                            </div>
                            <div class="review-middle" th:with="board=${boardList[idx.index]}">
                                <div class="middle-left">
                                    <img th:src="@{'/static/images/country/' + ${board.country} + '.jpg'}" alt="배경이미지">
                                </div>
                                <div class="middle-right">
                                    <p th:text="${board.title}" class="item-title"></p>
                                    <p th:text="${board.content}"></p>
                                </div>
                            </div>
                            <div class="review-bottom">
                                <span th:text="${review.content}">후기 내용</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</body>
</html>