<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>후기 전체 조회</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles2.css">
    <link rel="stylesheet" href="/static/css/reviews.css">
</head>
<body>
<th:block layout:fragment="content">
    <div class="content">
        <div class="title-header">
            <h2 th:text="${receiver} + '님이 받은 후기'">user님이 받은 후기</h2>
            <h2 class="temperature">36.5℃</h2>
        </div>
        <div class="original-board">
            <div class="review-list" th:each="review: ${reviewList}">
                <a class="href-none" href="#">
            <span class="review-left">
                <img src="/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진">
            </span>
                    <span class="review-right">
                <span class="review-right-top">
                    <span th:text="${review.senderUsername}">후기 작성자명</span>
                    <span>·</span>
                    <span th:text="${review.country}">여행지</span>
                    <span>·</span>
                    <span th:text="${review.rating}">별점</span>
                </span>
                <br>
                <span class="review-right-bottom">
                    <span th:text="${review.content}">후기 내용</span>
                </span>
            </span>
                </a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>