<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title>신고하기</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> <!--    mixed content 해결 -->
  <script src="/static/js/report-write.js"></script>
</head>
<body class="board-write sender-read">
<th:block layout:fragment="content">
  <!-- Contents -->
  <div class="container container2">
    <p class="sub-title-icon">
      <img src="/static/images/icon/icon-mypage2.png" alt="신고하기">
    </p>
    <h2>신고하기</h2>
    <form th:action="@{'/reports/write'}" th:method="post" id="postForm">
      <div class="container-wrap mb-3">
      </div>
      <div class="mb-5">
        <div class="container-wrap mb-3">
          <div class="col-md-10 col-lg-10 mb-3">
            <label for="reportedUser" class="form-label">신고할 유저</label>
            <input type="text" class="form-control" id="reportedUser" name="reportedUser" required style="box-shadow: 0 0 8px 3px #9999992b; border-color: #ebebeb;">
          </div>
        </div>
        <div class="container-wrap mb-3">
          <div class="col-md-10 col-lg-10 mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" required placeholder="예시) 동행글에 욕설이 포함되어 있습니다." style="box-shadow: 0 0 8px 3px #9999992b; border-color: #ebebeb;">
          </div>
        </div>
        <div class="container-wrap mb-3">
          <div class="col-md-10 col-lg-10">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="8" placeholder="예시) 동행글에 욕설이 포함되어 있어서 신고합니다." required style="box-shadow: 0 0 8px 3px #9999992b!important; border-color: #ebebeb!important;"></textarea>
          </div>
        </div>

      </div>
    </form>
    <div class="container-wrap">
      <div class="col-md-10 col-lg-10">
        <div class="container-wrap justify-content-center mb-5">
          <button class="btn btn-secondary" id="postButton">신고하기</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>