<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
>
<head>
    <meta charset="UTF-8">
    <title>후기 작성하기</title>
    <script src="/static/js/review-write-detail.js"></script>
</head>
<body class="sender-read review-write-detail">
<th:block layout:fragment="content">
    <!-- Contents -->
    <div class="container container2">
        <p class="sub-title-icon">
            <img src="/static/images/icon/icon-review.png" alt="후기 작성하기">
        </p>
        <h2 style="margin-bottom: 2.5em;">후기 작성하기</h2>
        <div class="title-container">
            <h3 class="board-title">현재 게시글</h3>
        </div>
        <div class="original-board" id="original-board">
            <a class="href-none" id="board-link">
                <div class="original-left">
                    <img src="/" id ="profile-image" alt="원글 작성자 프로필 사진" />
                </div>
                <div class="original-right">
                    <div class="original-right-top" id="board-title"></div>
                    <div class="original-right-bottom">
                        <p>작성자: <span id="profile-username"></span> |</p>
                        <p>여행지: <span id="board-country"></span> |</p>
                        <p>기간: <span id="board-start-date"></span> ~ <span id="board-end-date"></span></p>
                    </div>
                </div>
            </a>
        </div>
        <br>
        <form id="createForm" method="post">
            <div class="rating">
                <div class="rating-container">
                    <h3 class="board-title">여행은 어떠셨나요?</h3>
                    <span id="rating" name="rating">3</span>
                    <span>/5</span>
                </div>
                <div class="rating-info">
                    <span class="rating-bad">아쉬웠어요😑</span>
                    <input type="range" class="form-range" id="form-range" min="1" max="5" value="3" step=0.5 onchange="range_change(this)">
                    <span class="rating-good">좋았어요😊</span>
                </div>
                <script>
                    function range_change(obj) {
                        document.getElementById('rating').innerText = obj.value;
                    }
                </script>
            </div>
            <br>
            <div class="board-message">
                <h4 class="board-title">후기를 작성해주세요.</h4>
                    <textarea id="messages" name="message" rows="8" placeholder="예시) 안녕하세요. 28살 남자입니다. 저는 현지의 음식과 문화를 즐기는 것을 좋아해요. 같이 동행하면 좋을 것 같습니다 :-)"></textarea>
                    <div class="container-wrap justify-content-center gap-3 mt-5 mb-5">
                        <button type="button" class="btn btn-light" style="padding: 0">
                            <a href="/review/write" class="href-none" style="display: block; padding: 0.375rem 0.75rem;">취소</a>
                        </button>
                        <button type="submit" class="btn btn-secondary" id="createButton">요청</button>
                    </div>
            </div>
        </form>
    </div>
</th:block>
</body>
</html>

<!--
별점 코드
<div class="starpoint_wrap" onclick="range_change(this)">-->
<!--                <div class="starpoint_box">-->
<!--                    <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5점</span></label>-->
<!--                    <label for="starpoint_2" class="label_star" title="1"><span class="blind">1점</span></label>-->
<!--                    <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5점</span></label>-->
<!--                    <label for="starpoint_4" class="label_star" title="2"><span class="blind">2점</span></label>-->
<!--                    <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5점</span></label>-->
<!--                    <label for="starpoint_6" class="label_star" title="3"><span class="blind">3점</span></label>-->
<!--                    <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5점</span></label>-->
<!--                    <label for="starpoint_8" class="label_star" title="4"><span class="blind">4점</span></label>-->
<!--                    <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5점</span></label>-->
<!--                    <label for="starpoint_10" class="label_star" title="5"><span class="blind">5점</span></label>-->
<!--                    <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">-->
<!--                    <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">-->
<!--                    <span class="starpoint_bg"></span>-->
<!--                </div>-->
<!--            </div>-->
