<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동행 후기 수정</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/reviews.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles2.css">
</head>
<body>
<div class="content">
    <h2>동행 후기 수정</h2>
    <div class="original-board">
        <a class="href-none" href="#">
            <span class="original-left">
                <p><img src="/src/main/resources/static/images/user-profile1.jpg" alt="원글 작성자 프로필 사진"></p>
            </span>
            <span class="original-right">
                <span class="original-right-top">
                    원글 제목
                </span>
                <br> 
                <span class="original-right-bottom">
                    <span>원글 작성자</span>
                    <span>·</span>
                    <span>여행지</span>
                </span>
            </span>
        </a>
    </div>
    <br>
    <div class="rating">
        <h4>여행은 어떠셨나요 ?</h4>
        <span>별로였어요</span>
        <span class="rating-score">★★★☆☆</span>
        <span>좋았어요 !</span>
        
    </div>
    <br>
    <div class="review">
        <h4>후기를 남겨주세요</h3>
        <form action="">
            <div class="mb-3 original-board">
                <textarea class="review-content" id="exampleFormControlTextarea1" rows="8" cols="92">수정 전 작성한 후기가 보여집니다.</textarea>
            </div>
            <div class="form-button">
                <button type="button" class="btn btn-light">등록</button>
                <button type="button" class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>